#logo{
    background-color: #0A91AB;
}
img {
    display: block;
    margin-left: 30%;
    padding: 2%;
    width: 20%;
  }
#topnav{
    background-color: #FFC045;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0;
    font-family:'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
}

#link{
    padding: 1%;
    margin: 1% ;
}
#link:hover{
    color: #0A91AB;
}

#title{
    color: #0A91AB;
    font-family:'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
    font-weight: bold;
    padding-top: 1%;
}


#juego{
    border-style: dotted;
    border-color: #FFC045;
    border-radius: 5%;
    
    width: 320px;
    height: 400px;
    padding: 320px;
    margin: 0;  
}
#juegoimg{
    flex: 1;
    width: 320%;
    object-fit: contain;
    
}
/* */

/* Estilos para el contenedor */
.contenedor {
    display: flex;
    flex-direction: column;
    width: 300px; /* Ancho del contenedor */
    height: 500px; /* Alto del contenedor aumentado */
    border: 2px dotted #FFC045; /* Borde punteado y color personalizado */
    border-radius: 5%; /* Borde redondeado al 5% */
    padding: 10px; /* Espacio interno del contenedor */
}

/* Estilos para la imagen */
.imagen {
    flex: 1; /* La imagen ocupa la mitad superior y se centra verticalmente */
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen img {
    max-width: 100%; /* Asegura que la imagen no se desborde */
    max-height: 100%; /* Asegura que la imagen no se desborde */
    object-fit: contain; /* Ajusta el tamaño de la imagen sin cortarla */
}



/* Estilos para la información */
.informacion {
    flex: 1; /* La información ocupará la mitad inferior */
    text-align: center; /* Alineación del contenido */
}

/* Estilos para el título y descripción */
.titulo, .descripcion {
    margin: 5px 0; /* Espacio entre el título y la descripción */
}
