@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Maven+Pro:wght@400;700&display=swap&#39;');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&family=Maven+Pro:wght@400;700&display=swap&#39;');

body {
    margin: 0;
}

/* HEADER */
#logo {
    background-color: #0A91AB;
    text-align: center;
}

#img {
    display: block;
    margin-left: 46%;
    padding: 1%;
    width: 90px;
    height: 90px;
}

#topnav {
    position: sticky;
    top: 0;
    background-color: #FFC045;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0;
    font-family: 'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
    font-weight: bold;
    text-decoration: none;
}

#link {
    padding: 1%;
    margin: 1%;
    text-decoration: none;
    color: black;
}

#link:hover {
    color: #0A91AB;
}

/* SECTION */
#title {
    color: #0A91AB;
    font-family: 'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
    font-weight: bold;
    font-size: 24px;
    padding-top: 1%;
    margin: 20px;
}

/* CONTENEDOR VIDEOJUEGOS*/
#videojuegos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#contenedor {
    margin: 15px;
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 550px;
    border-style: dotted;
    border-color: #FFC045;
    border-radius: 2%;
    display: flex;
}

.contenedor-imagen-1 {
    flex: 1;
    background-image: url('/images/2k.png');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
}

.contenedor-imagen-2 {
    flex: 1;
    background-image: url('/images/fifa.jpg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
}

.contenedor-imagen-3 {
    flex: 1;
    background-image: url('/images/bo3.jpg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
}

.contenedor-imagen-4 {
    flex: 1;
    background-image: url('/images/fh5.jpg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;

}

.contenedor-imagen-5 {
    flex: 1;
    background-image: url('/images/Minecraft.jpg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
}

.contenedor-imagen-6 {
    flex: 1;
    background-image: url('/images/madden.jpg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
}

#contenedor-texto {
    flex: 1;
    margin-top: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#titulo {
    margin-left: 20px;
    margin-top: 10px;
    color: #FFC045;
    font-family: 'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
    font-size: 24px;
    margin-bottom: 10px;
}

#descripcion {
    margin-left: 20px;
    font-size: 16px;
    font-family: 'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
    margin-bottom: 10px;
}

#boton-contenedor {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

#boton {
    padding: 10px 20px;
    background-color: #FFC045;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

#boton:hover {
    color: #0A91AB;
}

/* NOTICIAS-TRUCOS*/
#titulo-trucos {
    font-family: 'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
    text-align: center;
    color: #0A91AB;
    font-size: 24px;
}

#titulo-juegos {
    font-family: 'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
    text-align: center;
    color: #FFC045;
    font-weight: bold;
    margin-top: 20px;
}

#titulo-descripcion {
    font-family: 'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
    text-align: center;
}



#contenedor-fecha {
    margin: 5px;
    border-style: solid;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-color: #FFC045;
    border-radius: 0px;
    text-align: left;
}

#titulo-noticias {
    margin-left: 20px;
    color: #FFC045;
    font-family: 'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

#descripcion-noticias {
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    text-align: left;
}


/* NOTICIAS-TRUCOS*/
#noticias-trucos {
    display: flex;
    flex-wrap: wrap;
}

/* CONTENEDOR TRUCOS*/
#contenedor-trucos {
    height: 1200px;
    width: 400px;
    border-style: dotted;
    border-color: black;
    border-radius: 2%;
    background-color: #dcecf4;
    margin-left: 5px;
    margin-right: 5px;

}

/* CONTENEDOR NOTICIAS */
#apartado-noticia {

    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#noticias {
    padding: 10px;
    color: #0A91AB;
    font-family: 'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
    font-weight: bold;
    padding-top: 1%;
    margin: 20px;
    margin-bottom: 0px;
    text-align: center;
    font-size: x-large;
}

#abajo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#imagen-noticia-1 {
    flex: 1;
    background-image: url('/images/mandoxbox.jpg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
}

#imagen-noticia-2 {
    flex: 1;
    background-image: url('/images/Kojima.jpeg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
}

#imagen-noticia-3 {
    flex: 1;
    background-image: url('/images/LosSims4.jpeg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
}

#imagen-noticia-4 {
    flex: 1;
    background-image: url('/images/fallout.jpg');
    background-size: cover;
    background-position: center;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;
}

#contenedor-noticias {
    margin: 40px;
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 600px;
    border-style: groove;
    border-color: #0A91AB;
    border-radius: 2%;
}

/* RANKING */
#ranking {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#titulo-ranking {
    padding: 10px;
    color: #0A91AB;
    font-family: 'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
    font-weight: bold;
    padding-top: 1%;
    margin: 20px;
    margin-bottom: 0px;
    text-align: center;
    font-size: x-large;
}

#user {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#imagen-ranking1 {
    flex: 1;
    border-radius: 50px;
    height: 61px;
    width: 59px;
    margin-right: 100px;
    margin-left: 100px;
}

#nombre {
    color: #FFC045;
    font-family: 'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

#puntuacion-ranking {
    font-size: smaller;
}

/* FOOTER */
footer {
    margin-top: 0px;
    background-color: #8A8070;
    color: black;
}

#primera-linia {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
}

#links-RRSS {
    word-spacing: 12px;
}

#segunda-linia {
    margin-right: 50px;
    text-align: right;
}

#tercera-linia {
    text-align: center;
}
/*LISTADO VIDEOJUEGOS*/

#main-article {
    margin-left: 20px;
    margin-right: 20px;
}

#impar {
    background-color: white;
    border-style: solid;
    border-left-style: hidden;
    border-right-style: hidden;
    border-color: #FFC045;
    border-width: 1px;
    text-align: left;
    padding: 10px;
}

#par {
    background-color: #0A90AB25;
    border-style: solid;
    border-left-style: hidden;
    border-right-style: hidden;
    border-top-style: hidden;
    border-color: #FFC045;
    border-width: 1px;
    text-align: left;
    padding: 10px;
}

#linias-listado {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    font-family: 'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
}

#fecha {}

#titulo-videojuego {
    text-align: center;
    margin-left: 153px;
    color: #0A91AB;
    font-weight: bold;
}

#plataforma {
    text-align: center;
    margin-left: 50px;
    color: #8A8070;
    font-weight: bold;
}

#imagen-listado {
    width: 200px;
    height: 100px;
}

#descripcion {
    margin-left: 20px;
    font-size: 16px;
    font-family: 'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
    margin-bottom: 10px;
    width: 80%;
}

#boton-contenedor2 {
    display: flex;
    justify-content: right;
    margin: 10px;
    height: 50%;
}

#boton2 {
    padding: 10px 10px;
    padding-bottom: 10%;
    background-color: #FFC045;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

#boton2:hover {
    color: #0A91AB;
}

#genero {
    font-family: 'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
    margin-left: 220px;
}

/* Detalle Videojuego */
#info-principal {
    height: auto;
    margin-left: 120px;
    margin-right: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: auto;

}

#title-articulo {
    color: black;
    font-family: 'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
    font-weight: bolder;
    font-size: 30px;
    padding-top: 1%;
    margin: 20px;
    margin-left: 80px;
    margin-bottom: 0px;
}

#imagen-banner {
    height: 300px;
    width: 100%;
}

h3 {
    color: #FFC045;
    font-family: 'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
    font-size: 20px;
    margin-left: 20px;
    text-align: left;
}

#flexwrap {
    color: black;
    font-family: 'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
    margin-top: 100px;
    margin-left: 20px;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

#flexwrap-multimedia {
    display: flex;
    flex-wrap: wrap;
    color: black;
    font-family: 'Kanit', 'Maven Pro', 'Helvetica', 'Arial';
    margin-top: 100px;
    margin-left: 20px;
    font-weight: bolder;
    justify-content: left;
    text-align: center;
}

#separacion {
    margin-left: 20px;
}

#titulo-puntuacion {
    margin-left: 20px;
}

#puntuacion {
    height: 100px;
    width: 100px;
    background-color: #FFC045;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-left: 30px;
}

#texto-juego {
    margin-left: 30%;
    margin-right: 30%;
}

#descripcion-detalle {
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: left;
    width: 57%;
}

#imagen-reseña {
    width: 864px;
    height: 486px;
}

/*Contacto*/
#container-formulario {
    background-color: #FFC045;
    width: 50%;
    height: auto;
    border-color: #0A91AB;
    border-style: dotted;
    border-radius: 20px;
}

#boton-formulario {
    padding: 10px 20px;
    margin: 10px;
    background-color: #0A90AB25;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    border-color: #0A91AB;
    border-style: solid;
    float: right;
}

#boton-formulario:hover {
    color: #0A91AB;
}

#titulo-formulario {
    color: #0A91AB;
    font-weight: bold;
    margin: 20px;
    margin-top: 20px;
}

#texto-formulario {
    margin-bottom: 20px;

}